<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hangum.tadpole.rdb.core.extensionpoint.definition.main.editor">
      <mainEditor
            class="com.gaia3d.tadpole.spatial.data.core.ui.editor.extension.SpatialDataManagerMainEditor">
      </mainEditor>
   </extension>
   <extension
         point="com.hangum.tadpole.rdb.core.extensionpoint.definition.connection.decoration">
      <client
            class="com.gaia3d.tadpole.spatial.data.core.ui.connection.ConnectionViewerDecorator">
      </client>
   </extension>
   <extension
         point="com.hangum.tadpole.rdb.core.extensionpoint.definition.table.decoration">
      <tableDecoration
            class="com.gaia3d.tadpole.spatial.data.core.ui.table.ObjectViewerTableDecorator">
      </tableDecoration>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/resources/map"
            base-name="/resources/map">
      </resource>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.gaia3d.tadpole.spatial.data.core.ui.preference.ui.SpatialDataManagerPreference"
            id="com.gaia3d.tadpole.spatial.data.core.page.default"
            name="Spatial Data Manager">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.gaia3d.tadpole.spatial.data.core.objectContribution.shape"
            objectClass="com.hangum.tadpole.engine.query.dao.system.UserDBDAO">
         <action
               class="com.gaia3d.tadpole.spatial.data.core.ui.actions.ImportShapeFileActions"
               icon="resources/images/shape_import.png"
               id="com.gaia3d.tadpole.spatial.data.core.action.shape.import"
               label="Import shape file "
               menubarPath="additions">
         </action>
         <action
               class="com.gaia3d.tadpole.spatial.data.core.ui.actions.ExportShapeFileActions"
               icon="resources/images/shape_export.png"
               id="com.gaia3d.tadpole.spatial.data.core.action.shape.export"
               label="Export shape file"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.gaia3d.tadpole.spatial.data.core.ui.editor.shape.SQLToShapeEditor"
            default="false"
            icon="resources/images/shape_export.png"
            id="com.gaia3d.tadpole.spatial.data.core.editor.shapeExport"
            name="Export shape file">
      </editor>
   </extension>

</plugin>
