<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hangum.tadpole.rdb.core.extensionpoint.definition.main.editor">
      <mainEditor
            class="com.gaia3d.tadpole.spatial.data.core.ui.editor.SpatialDataManagerMainEditor">
      </mainEditor>
   </extension>
   <extension
         point="com.hangum.tadpole.rdb.core.extensionpoint.definition.connection.decoration">
      <client
            class="com.gaia3d.tadpole.spatial.data.core.ui.connection.ConnectionViewerDecorator">
      </client>
   </extension>
   <extension
         point="com.hangum.tadpole.rdb.core.extensionpoint.definition.table.decoration">
      <tableDecoration
            class="com.gaia3d.tadpole.spatial.data.core.ui.table.ObjectViewerTableDecorator">
      </tableDecoration>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/resources/map"
            base-name="/resources/map">
      </resource>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.gaia3d.tadpole.spatial.data.core.ui.preference.ui.SpatialDataManagerPreference"
            id="com.gaia3d.tadpole.spatial.data.core.page.default"
            name="Spatial Data Manager">
      </page>
   </extension>

</plugin>
